body {
    background-image: url('BGwallpaper.jpg') !important;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  
  .content {
      padding: 50px 20px 100px 20px !important;
      height: 100%;
    }
    #header {
        opacity : 0.7;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        z-index: 9999;
      }

#footer {
    opacity: 0.7;
    position: fixed;
    bottom: -25px !important;
    left: 0 !important;
    width: 100%;
    padding: 20px;
    text-align: center;
    }

    .card1{
        background-image: url('BGwallpaper.jpg') !important;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        height: 100%;    
    }
    .border{
        border: solid 1px black;
    }

    .center{
        text-align: center !important;
    }

    .opac{
        opacity: 0.5;
    }